.checkbox-column {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.checkbox-column > * {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.checkbox-row {
    display: flex;
    flex-direction: row;
}

.checkbox-row > ul {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
}

.checkbox-row li::marker {
    display: none;
    color: transparent;
    width: 0;
    padding: 0;
}

.checkbox {
    margin-top: -0.5rem;
    padding-right: 1rem;
}

.checkbox input {
    transform: scale(2);
    height: 1.5rem;
    width: 1.5rem;
}

ul {
    list-style-type: none;
}

small {
    font-style: italic;
    font-size: 1rem;
    color: #888;
}

/* Edit mode */

button {
    background-color: transparent;
    border: 2px solid green;
    border-radius: 4px;
    padding: 0.5rem 0.7rem;
}

button:hover {
    background-color: rgba(0,0,0, 0.1);
    cursor: pointer;
}

input {
    padding: 0.5rem 0.7rem;
}